/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';
//@import '../../../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import '../../../node_modules/@angular/material/theming';
@include mat-core();

body{
 // background-image: url('../image/login_background.jpg');
  background-color: ghostwhite;
}

page-color {
  background-color: #fafafa;
}
