
    <mat-card  class="page-color">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
      <div fxLayout="row">
        <mat-icon> account_circle</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Enter your username" type="text">
        </mat-form-field>
      </div>
      <div fxLayout="row" >
        <mat-icon>https</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly center" style="padding-top: 20px">
        <button color="primary" mat-button mat-raised-button (click)="goToSearch()">Sign In</button>
        <button color="warn" mat-button mat-raised-button (click)="goToSearch()">Cancel</button>
      </div>
      </mat-card-content>
    </mat-card>
