.mat-icon {
  font-size: 35px;
  padding-right: 5%;
  padding-top: 2%;
}

.mat-form-field {
  min-width: 300px;
  .mat-icon {
    font-size: 24px;
    cursor: pointer;
  }
}

.mat-card {
  min-width: 400px;
  min-height: 200px
}

