<div fxFlex fxLayout="column" fxLayoutAlign="stretch" style="width: 100%; height: 100%" class="app mat-typography app-dark" [dir]="dir" [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar}">
<mat-toolbar class="main-header portal-toolbar" color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
    <div class="logo"></div>
  </div>
  <div>
    <h2>File Manager</h2>
  </div>
  <span fxFlex="grow"></span>
  <div fxLayoutAlign="center center">
  </div>
  <!--<div *ngIf="currentUser" class="logged-in-user-display">
    {{currentUser.firstName}} {{currentUser.lastName}}
  </div>-->
  <button mat-button class="ml-xs">Sign In</button>
  <button [mat-menu-trigger-for]="user" mat-icon-button class="ml-xs">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #user="matMenu" x-position="before" fxAlign="center end">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container fxFlex="grow">
  <mat-sidenav #sidemenu class="sidebar-panel" id="sidebar-panel">
    <mat-nav-list  class="navigation">
      <mat-list-item>

        <a class="relative" [routerLink]="['/login']">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
          <span fxFlex></span>
          <!--<span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>-->
        </a>
        <!--<a appAccordionToggle class="relative" href="{{menuitem.state}}" *ngIf="menuitem.visible && menuitem.type === 'extLink'">-->
          <!--<mat-icon>{{ menuitem.icon }}</mat-icon>-->
          <!--<span>{{ menuitem.name}}</span>-->
          <!--<span fxFlex></span>-->
          <!--<span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>-->
        <!--</a>-->
        <!--<a appAccordionToggle class="relative" href="{{menuitem.state}}" target="_blank" *ngIf="menuitem.visible && menuitem.type === 'extTabLink'">-->
          <!--<mat-icon>{{ menuitem.icon }}</mat-icon>-->
          <!--<span>{{ menuitem.name}}</span>-->
          <!--<span fxFlex></span>-->
          <!--<span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>-->
        <!--</a>-->
        <!--<a appAccordionToggle class="relative"  *ngIf="menuitem.visible && menuitem.type === 'sub'">-->
          <!--<mat-icon>{{ menuitem.icon }}</mat-icon>-->
          <!--<span>{{ menuitem.name}}</span>-->
          <!--<span fxFlex></span>-->
          <!--<span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>-->
          <!--<mat-icon class="menu-caret">arrow_drop_down</mat-icon>-->
        <!--</a>-->
        <!--<mat-nav-list class="sub-menu" *ngIf="menuitem.visible && menuitem.type === 'sub'">-->
          <!--<mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">-->
            <!--<a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" *ngIf="childitem.visible">{{ childitem.name }}</a>-->
          <!--</mat-list-item>-->
        <!--</mat-nav-list>-->
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
</div>
