<mat-card>
  <mat-card-title>
    <div fxLayout="row">
      <h2>Welcome to File Archive</h2>
    </div>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="autoSearchForm" novalidate>
      <div fxLayout="row">
        <mat-form-field>
          <input style="min-width: 500px" type="text" placeholder="Type employee number or ID number"
                 aria-label="Number"
                 matInput
                 formControlName="employeeKeyword" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let employee of employeeData" [value]="employee">
              {{ employee }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix (click)="goToEmployeeDetails()">search</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly center" style="padding-top: 20px">
        <button mat-button mat-raised-button (click)="goToEmployeeDetails()">Find employee</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
